In [7]:
from random import gauss
import os 
import sys
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import yfinance as yf
sys.path.insert(2,'..')

import annualized_rv as arv

In [8]:
aapl = yf.Ticker('AAPL')

In [9]:
history_aapl= aapl.history(period="10y")

In [10]:
history_aapl

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-06-06 00:00:00-04:00,20.530694,20.573658,20.359158,20.393906,349938400,0.0,0.0
2014-06-09 00:00:00-04:00,20.499106,20.760044,20.289029,20.720240,301660000,0.0,7.0
2014-06-10 00:00:00-04:00,20.948007,21.018769,20.691491,20.841862,251108000,0.0,0.0
2014-06-11 00:00:00-04:00,20.815323,20.954638,20.669375,20.755617,182724000,0.0,0.0
2014-06-12 00:00:00-04:00,20.795422,20.813113,20.322196,20.408438,218996000,0.0,0.0
...,...,...,...,...,...,...,...
2024-05-31 00:00:00-04:00,191.440002,192.570007,189.910004,192.250000,75158300,0.0,0.0
2024-06-03 00:00:00-04:00,192.899994,194.990005,192.520004,194.029999,50080500,0.0,0.0
2024-06-04 00:00:00-04:00,194.639999,195.320007,193.029999,194.350006,47471400,0.0,0.0
2024-06-05 00:00:00-04:00,195.399994,196.899994,194.869995,195.869995,54081300,0.0,0.0
2024-06-06 00:00:00-04:00,195.684998,196.500000,194.949997,195.330002,24725658,0.0,0.0

In [27]:
relevant = history_aapl['2017':'2021']

In [38]:
relevant['Close']

Date
2017-01-03 00:00:00-05:00     26.952713
2017-01-04 00:00:00-05:00     26.922544
2017-01-05 00:00:00-05:00     27.059450
2017-01-06 00:00:00-05:00     27.361118
2017-01-09 00:00:00-05:00     27.611732
                                ...
2021-12-27 00:00:00-05:00    177.824463
2021-12-28 00:00:00-05:00    176.798920
2021-12-29 00:00:00-05:00    176.887665
2021-12-30 00:00:00-05:00    175.724060
2021-12-31 00:00:00-05:00    175.102814
Name: Close, Length: 1259, dtype: float64