In [2]:
import yfinance as yf

In [3]:
aapl = yf.Ticker('AAPL')

In [17]:
history_aapl= aapl.history(period="10y")

In [18]:
history_aapl

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-06-02 00:00:00-04:00,20.027147,20.054630,19.665118,19.859400,369350800,0.0,0.0
2014-06-03 00:00:00-04:00,19.853394,20.178145,19.846760,20.140236,292709200,0.0,0.0
2014-06-04 00:00:00-04:00,20.137071,20.467193,20.095055,20.370209,335482000,0.0,0.0
2014-06-05 00:00:00-04:00,20.413807,20.513950,20.300398,20.450136,303805600,0.0,0.0
2014-06-06 00:00:00-04:00,20.530696,20.573660,20.359160,20.393908,349938400,0.0,0.0
...,...,...,...,...,...,...,...
2024-05-24 00:00:00-04:00,188.820007,190.580002,188.039993,189.979996,36294600,0.0,0.0
2024-05-28 00:00:00-04:00,191.509995,193.000000,189.100006,189.990005,52280100,0.0,0.0
2024-05-29 00:00:00-04:00,189.610001,192.250000,189.509995,190.289993,53068000,0.0,0.0
2024-05-30 00:00:00-04:00,190.759995,192.179993,190.630005,191.289993,49947900,0.0,0.0
2024-05-31 00:00:00-04:00,191.440002,192.570007,189.910004,192.250000,75115100,0.0,0.0

In [28]:
history_aapl.loc['2017':'2021']

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-01-03 00:00:00-05:00,26.871492,26.994478,26.630159,26.952709,115127600,0.0,0.0
2017-01-04 00:00:00-05:00,26.883091,27.036245,26.859886,26.922539,84472400,0.0,0.0
2017-01-05 00:00:00-05:00,26.899340,27.117469,26.873814,27.059456,88774400,0.0,0.0
2017-01-06 00:00:00-05:00,27.098902,27.419133,27.026966,27.361120,127007600,0.0,0.0
2017-01-09 00:00:00-05:00,27.370397,27.713834,27.368078,27.611731,134247600,0.0,0.0
...,...,...,...,...,...,...,...
2021-12-27 00:00:00-05:00,174.629475,177.913209,174.609763,177.824463,74919600,0.0,0.0
2021-12-28 00:00:00-05:00,177.656827,178.810569,176.049469,176.798904,79144300,0.0,0.0
2021-12-29 00:00:00-05:00,176.838356,178.120297,175.664888,176.887665,62348900,0.0,0.0
2021-12-30 00:00:00-05:00,176.976434,178.061157,175.615603,175.724075,59773000,0.0,0.0
2021-12-31 00:00:00-05:00,175.615578,176.739738,174.797108,175.102814,64062300,0.0,0.0