In [1]:
import pandas as pd

In [2]:
import sys
sys.path.insert(2,'..')

In [3]:
import functions
import selection
import DataPull

             date  forward_price  time_to_maturity       tau  risk_free_rate  \
0      2018-01-02    1073.654411                10  0.027397        0.015111
1      2018-01-02    1073.654411                10  0.027397        0.015111
2      2018-01-02    1073.654411                10  0.027397        0.015111
3      2018-01-02    1073.654411                10  0.027397        0.015111
4      2018-01-02    1073.654411                10  0.027397        0.015111
...           ...            ...               ...       ...             ...
642635 2018-12-31    1086.972254               536  1.468493        0.026842
642636 2018-12-31    1086.972254               536  1.468493        0.026842
642637 2018-12-31    1086.972254               536  1.468493        0.026842
642638 2018-12-31    1086.972254               536  1.468493        0.026842
642639 2018-12-31    1086.972254               536  1.468493        0.026842

        is_call  strike_price  option_price
0             1        1000.0         75.20
1             1        1002.5         73.35
2             1        1005.0         70.70
3             1        1007.5         68.65
4             1        1010.0         66.00
...         ...           ...           ...
642635       -1         900.0         69.15
642636       -1         920.0         77.55
642637       -1         940.0         84.40
642638       -1         960.0         91.95
642639       -1         980.0         99.75

[642640 rows x 8 columns]

In [5]:
df = DataPull.pull_google_2018()

In [6]:
selection = selection.filter_options(df)

In [7]:
selection

,date,forward_price,time_to_maturity,tau,risk_free_rate,is_call,strike_price,option_price,atm_price,moneyness
0,2018-01-02,1074.310893,24,0.065753,0.015593,1,1000.0,76.80,1074.654433,0.930532
1,2018-01-02,1074.310893,24,0.065753,0.015593,1,1002.5,74.55,1074.654433,0.932858
2,2018-01-02,1074.310893,24,0.065753,0.015593,1,1005.0,72.25,1074.654433,0.935184
3,2018-01-02,1074.310893,24,0.065753,0.015593,1,1007.5,69.75,1074.654433,0.937511
4,2018-01-02,1074.310893,24,0.065753,0.015593,1,1010.0,67.40,1074.654433,0.939837
...,...,...,...,...,...,...,...,...,...,...
152278,2018-12-31,1047.890408,39,0.106849,0.026209,-1,980.0,26.75,1047.323959,0.935718
152279,2018-12-31,1047.890408,39,0.106849,0.026209,-1,990.0,29.75,1047.323959,0.945266
152280,2018-12-31,1047.890408,39,0.106849,0.026209,-1,992.5,30.65,1047.323959,0.947653
152281,2018-12-31,1047.890408,39,0.106849,0.026209,-1,995.0,31.25,1047.323959,0.950040
152282,2018-12-31,1047.890408,39,0.106849,0.026209,-1,997.5,32.15,1047.323959,0.952427

In [8]:
df.to_excel('options_data.xlsx', index=False, engine='openpyxl')