In [1]:
import pandas as pd
from tqdm import tqdm
tqdm.pandas()

In [2]:
import sys
sys.path.insert(2,'..')

In [3]:
import functions
import selection
import DataPull

In [4]:
df = DataPull.pull_google_2018()

In [5]:
tqdm.pandas()

In [6]:
selection = selection.filter_options(df)

In [7]:
selection

,date,forward_price,time_to_maturity,tau,risk_free_rate,is_call,strike_price,option_price,atm_price,moneyness
9,2018-01-02,1074.310893,24,0.065753,0.015593,1,1022.5,55.85,1074.654433,0.951469
10,2018-01-02,1074.310893,24,0.065753,0.015593,1,1025.0,53.75,1074.654433,0.953795
11,2018-01-02,1074.310893,24,0.065753,0.015593,1,1027.5,51.50,1074.654433,0.956121
12,2018-01-02,1074.310893,24,0.065753,0.015593,1,1030.0,49.15,1074.654433,0.958448
13,2018-01-02,1074.310893,24,0.065753,0.015593,1,1032.5,47.05,1074.654433,0.960774
...,...,...,...,...,...,...,...,...,...,...
152246,2018-12-31,1047.890408,39,0.106849,0.026209,-1,1075.0,67.95,1047.323959,1.026425
152247,2018-12-31,1047.890408,39,0.106849,0.026209,-1,1080.0,71.15,1047.323959,1.031200
152248,2018-12-31,1047.890408,39,0.106849,0.026209,-1,1090.0,77.40,1047.323959,1.040748
152281,2018-12-31,1047.890408,39,0.106849,0.026209,-1,995.0,31.25,1047.323959,0.950040
152282,2018-12-31,1047.890408,39,0.106849,0.026209,-1,997.5,32.15,1047.323959,0.952427

In [12]:
selection['implied_volatility'] = selection.progress_apply(functions.implied_volatility,axis =1 )

  0%|                                                                                | 4/51578 [00:00<21:35, 39.81it/s]X:\github\ThesisProject\Jupyterlab\..\functions.py:44: RuntimeWarning: divide by zero encountered in scalar divide
  while (abs(p - c) / v) > tol and max_iter > 0:
X:\github\ThesisProject\Jupyterlab\..\functions.py:45: RuntimeWarning: divide by zero encountered in scalar divide
  x0 = x0 - (p - c) / v
X:\github\ThesisProject\Jupyterlab\..\functions.py:69: RuntimeWarning: invalid value encountered in scalar divide
  d1 = (np.log(s / k) + (r + 0.5 * sigma ** 2) * t) / (sigma * np.sqrt(t))
X:\github\ThesisProject\Jupyterlab\..\functions.py:8: RuntimeWarning: invalid value encountered in scalar divide
  d1 = (np.log(S / K) + (r + 0.5 * sigma ** 2) * t) / (sigma * np.sqrt(t))
X:\github\ThesisProject\Jupyterlab\..\functions.py:69: RuntimeWarning: overflow encountered in scalar power
  d1 = (np.log(s / k) + (r + 0.5 * sigma ** 2) * t) / (sigma * np.sqrt(t))
X:\github\ThesisProject\Jupyterlab\..\functions.py:8: RuntimeWarning: overflow encountered in scalar power
  d1 = (np.log(S / K) + (r + 0.5 * sigma ** 2) * t) / (sigma * np.sqrt(t))
  6%|████▎                                                                       | 2928/51578 [00:12<04:23, 184.64it/s]X:\github\ThesisProject\Jupyterlab\..\functions.py:44: RuntimeWarning: overflow encountered in scalar divide
  while (abs(p - c) / v) > tol and max_iter > 0:
X:\github\ThesisProject\Jupyterlab\..\functions.py:45: RuntimeWarning: overflow encountered in scalar divide
  x0 = x0 - (p - c) / v
100%|███████████████████████████████████████████████████████████████████████████| 51578/51578 [03:19<00:00, 258.30it/s]

In [13]:
selection

,date,forward_price,time_to_maturity,tau,risk_free_rate,is_call,strike_price,option_price,atm_price,moneyness,implied_volatility
9,2018-01-02,1074.310893,24,0.065753,0.015593,1,1022.5,55.85,1074.654433,0.951469,0.173559
10,2018-01-02,1074.310893,24,0.065753,0.015593,1,1025.0,53.75,1074.654433,0.953795,0.174387
11,2018-01-02,1074.310893,24,0.065753,0.015593,1,1027.5,51.50,1074.654433,0.956121,0.172268
12,2018-01-02,1074.310893,24,0.065753,0.015593,1,1030.0,49.15,1074.654433,0.958448,0.168333
13,2018-01-02,1074.310893,24,0.065753,0.015593,1,1032.5,47.05,1074.654433,0.960774,0.167899
...,...,...,...,...,...,...,...,...,...,...,...
152246,2018-12-31,1047.890408,39,0.106849,0.026209,-1,1075.0,67.95,1047.323959,1.026425,0.575456
152247,2018-12-31,1047.890408,39,0.106849,0.026209,-1,1080.0,71.15,1047.323959,1.031200,0.613874
152248,2018-12-31,1047.890408,39,0.106849,0.026209,-1,1090.0,77.40,1047.323959,1.040748,0.688784
152281,2018-12-31,1047.890408,39,0.106849,0.026209,-1,995.0,31.25,1047.323959,0.950040,-inf
152282,2018-12-31,1047.890408,39,0.106849,0.026209,-1,997.5,32.15,1047.323959,0.952427,inf

In [9]:
car = selection.iloc[0]

In [10]:
car

date                2018-01-02 00:00:00
forward_price               1074.310893
time_to_maturity                     24
tau                            0.065753
risk_free_rate                 0.015593
is_call                               1
strike_price                     1022.5
option_price                      55.85
atm_price                   1074.654433
moneyness                      0.951469
Name: 9, dtype: object

In [11]:
functions.implied_volatility(car)

0.1735593699039487

In [11]:
    s = car['forward_price']
    k = car['strike_price']
    t = car['time_to_maturity']
    r = car['risk_free_rate']
    c = car['option_price']

In [14]:
t

24